p {
    color: rgb(59, 59, 233);
    font-style: italic;
    font-family: cursive;
    font-size: larger;
    text-align:left;
    
}
canvas {
    border-style:double;
    border-radius: 6px;
    border-color: black;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    
}